@import '../../partials/global';

.delete-warehouse {
    background-color: white; 
    margin: 0;

    @include tablet {
        width: 85%;
    }
    @include desktop {
        width: 58%;
    }

    &__container {
        width: 92%;
        margin: 0 auto;
        padding: 15px 0 25px 0;

        @include tablet {
            width: 90%;
            margin: 0 8%;
            padding: 18px 0 40px 0;
        }
        @include desktop {
            width: 90%;
            margin: 0 10%;
            padding: 18px 0 40px 0;
        }
    }
    &__icon {
        margin-left: 94%;
        width: 26px;

        @include tablet {
            margin-left: 95%;
        }
        @include desktop {
            margin-left: 93%;
        }
    }
    &__heading {
        line-height: 36px;

        @include tablet {
            margin: 0;
        }
    }
    &__text {
        font-size: $p1-mobile-fontsize;
        line-height: 26px;
        color: $instock-black;
        margin-bottom: 375px;
        
        @include tablet {
            width: 544px;
            margin-bottom: 40px;
            font-size: $p1-desktab-fontsize;
            line-height: 28px;
        }
    }
    &__button-container {
        display: flex;
        justify-content: space-between;

        @include tablet {
            width: 27%;
            margin-left: 67%;
        }
        @include desktop {
            margin-left: 62%;
        }
    }
    &__button {
        font-family: 'Titillium Web';
        border-radius: 20px;
        border: none;
        padding: 7px 16px;
        width: 48%;
        font-size: $p2-mobile-fontsize;

        @include tablet {
            text-align: center;
            width: 45%;
        }

        &-cancel {
            border: 1px solid $cloud;
            background-color: white;
            font-weight: 600;
            color: $slate;
        }
        &-delete {
            background-color: $red;
            color: white;
        }
    }
}