@font-face {
  font-family: "Titillium Web";
  src: url("../assets/globalfonts/TitilliumWeb-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Titillium Web";
  src: url("../assets/globalfonts/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
body {
  font-family: "Titillium Web";
  margin: 0 auto;
}

h1 {
  font-size: 1.75rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 2.2rem;
  }
}

h2 {
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 0.81rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1200px) {
  h3 {
    font-size: 0.875rem;
  }
}

h4 {
  font-size: 0.67rem;
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 1200px) {
  h4 {
    font-size: 0.75rem;
  }
}

p {
  font-size: 0.81rem;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1200px) {
  p {
    font-size: 0.875rem;
  }
}

.edit-warehouse {
  width: 82%;
  margin-left: 7%;
  border: 2px solid black;
}
.edit-warehouse__header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-bottom: 20px;
  margin-top: 20px;
  border-bottom: 2px solid black;
}
.edit-warehouse__back-img {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
}
.edit-warehouse__title {
  margin: 0;
}
.edit-warehouse__warehouse-list {
  list-style: none;
  padding: 0;
}
.edit-warehouse__warehouse-list-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.edit-warehouse__warehouse-list-name-input {
  height: 36px;
  width: 90%;
  margin: 0;
  border-radius: 20px;
}
.edit-warehouse__warehouse-list-street {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.edit-warehouse__warehouse-list-street-input {
  height: 36px;
  width: 95%;
  margin: 0;
  border-radius: 20px;
}
.edit-warehouse__warehouse-list-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.edit-warehouse__warehouse-list-name-input {
  height: 36px;
  width: 95%;
  margin: 0;
  border-radius: 20px;
}
.edit-warehouse__warehouse-list-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.edit-warehouse__warehouse-list-city-input {
  height: 36px;
  width: 95%;
  margin: 0;
  border-radius: 20px;
}
.edit-warehouse__warehouse-list-country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.edit-warehouse__warehouse-list-country-input {
  height: 36px;
  width: 95%;
  margin: 0;
  border-radius: 20px;
}
.edit-warehouse__contact-list {
  list-style: none;
  padding: 0;
}
.edit-warehouse__contact-list-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.edit-warehouse__contact-list-name-input {
  height: 36px;
  width: 95%;
  margin: 0;
  border-radius: 20px;
}
.edit-warehouse__contact-list-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.edit-warehouse__contact-list-position-input {
  height: 36px;
  width: 95%;
  margin: 0;
  border-radius: 20px;
}
.edit-warehouse__contact-list-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.edit-warehouse__contact-list-phone-input {
  height: 36px;
  width: 95%;
  margin: 0;
  border-radius: 20px;
}
.edit-warehouse__contact-list-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.edit-warehouse__contact-list-email-input {
  height: 36px;
  width: 95%;
  margin: 0;
  border-radius: 20px;
}
.edit-warehouse__button-cancel {
  height: 36px;
  width: 40%;
  border-radius: 20px;
}
.edit-warehouse__button-save {
  height: 36px;
  width: 40%;
  border-radius: 20px;
}
/*# sourceMappingURL=EditWarehouse.css.map */