@import  '../../partials/global';

.edit-warehouse {
    width: auto;
    height: 923.5px;
    // margin-left: 16px;
    // margin-right: 16px;
    margin-bottom: 20px;
    padding-bottom: 10%;
    // border: 2px solid black;
    background: $white;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;

    position: absolute;
    left: 4.5%;
    right: 4.5%;
    top: 15%;
    // bottom: 90.32%;
    // display: flex;
    // justify-content: center;
    // margin-right: 3%;
    // margin-left: 20%;

    &__header-container {
        display: flex;
        justify-content: left;
        // padding-bottom: 20px;
        margin-top: 20px;
        border-bottom: 1px solid $cloud;
    }
    &__back-img {
        // margin-top: 10px;
        margin-left: 20px;
        margin-top: 44px;
        margin-right: 10px;
    }
    &__title {
        margin-top: 32px;
    }
    // &__form {
    //     margin-bottom: 30px;
    // }
    &__warehouse-title {
        margin-left: 23px;
        margin-bottom: 24px;
    }
    &__warehouse-list {
        list-style: none;
        width: 100%;
        padding: 0 0 10px 0;
        // padding-bottom: 10px;
        border-bottom: 1px solid $cloud;
    }
    &__warehouse-list-name {
        display: flex;
        flex-direction: column;
        margin-left: 23px;
        margin-right: 23px;
    }
    &__warehouse-list-name-label {
        // margin-left: 23px;
        margin-bottom: 4px;
        font-size: $h3-mobile-fontsize;
        font-weight: 600;
    }
    &__warehouse-list-name-input {
        height: 36px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $cloud;
        // margin-left: 23px;
        // margin-right: 23px;
        margin-bottom: 16px;
        border-radius: 20px;
    }
    &__warehouse-list-street {
        display: flex;
        flex-direction: column;
        margin-left: 23px;
        margin-right: 23px;
    }
    &__warehouse-list-street-label {
        // margin-left: 23px;
        margin-bottom: 4px;
        font-size: $h3-mobile-fontsize;
        font-weight: 600;
    }
    &__warehouse-list-street-input {
        height: 36px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $cloud;
        // margin-left: 23px;
        // margin-right: 23px;
        margin-bottom: 16px;
        border-radius: 20px;
    }
    &__warehouse-list-city {
        display: flex;
        flex-direction: column;
        margin-left: 23px;
        margin-right: 23px;
    }
    &__warehouse-list-city-label {
        // margin-left: 23px;
        margin-bottom: 4px;
        font-size: $h3-mobile-fontsize;
        font-weight: 600;
    }
    &__warehouse-list-city-input {
        height: 36px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $cloud;
        // margin-left: 23px;
        // margin-right: 23px;
        margin-bottom: 16px;
        border-radius: 20px;
    }
    &__warehouse-list-country {
        display: flex;
        flex-direction: column;
        margin-left: 23px;
        margin-right: 23px;
    }
    &__warehouse-list-country-label {
        // margin-left: 23px;
        margin-bottom: 4px;
        font-size: $h3-mobile-fontsize;
        font-weight: 600;
    }
    &__warehouse-list-country-input {
        height: 36px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $cloud;
        // margin-left: 23px;
        // margin-right: 23px;
        margin-bottom: 16px;
        border-radius: 20px;
    }
    &__contact-title {
        margin-left: 23px;
        margin-bottom: 24px;
    }
    &__contact-list {
        list-style: none;
        padding: 0;
    }
    &__contact-list-name {
        display: flex;
        flex-direction: column;
        margin-left: 23px;
        margin-right: 23px;
    }
    &__contact-list-name-label {
        // margin-left: 23px;
        margin-bottom: 4px;
        font-size: $h3-mobile-fontsize;
        font-weight: 600;
    }
    &__contact-list-name-input {
        height: 36px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $cloud;
        // margin-left: 23px;
        // margin-right: 23px;
        margin-bottom: 16px;
        border-radius: 20px;
    }
    &__contact-list-position {
        display: flex;
        flex-direction: column;
        margin-left: 23px;
        margin-right: 23px;
    }
    &__contact-list-position-label {
        // margin-left: 23px;
        margin-bottom: 4px;
        font-size: $h3-mobile-fontsize;
        font-weight: 600;
    }
    &__contact-list-position-input {
        height: 36px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $cloud;
        // margin-left: 23px;
        // margin-right: 23px;
        margin-bottom: 16px;
        border-radius: 20px;
    }
    &__contact-list-phone{
        display: flex;
        flex-direction: column;
        margin-left: 23px;
        margin-right: 23px;
    }
    &__contact-list-phone-label {
        // margin-left: 23px;
        margin-bottom: 4px;
        font-size: $h3-mobile-fontsize;
        font-weight: 600;
    }
    &__contact-list-phone-input {
        height: 36px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $cloud;
        // margin-left: 0;
        // margin-right: 0;
        margin-bottom: 16px;
        border-radius: 20px;
    }
    &__contact-list-email {
        display: flex;
        flex-direction: column;
        margin-left: 23px;
        margin-right: 23px;
       
    }
    &__contact-list-email-label {
        // margin-left: 23px;
        margin-bottom: 4px;
        font-size: $h3-mobile-fontsize;
        font-weight: 600;
    }
    &__contact-list-email-input {
        height: 36px;
        width: 100%;
        box-sizing: border-box; 
        border: 1px solid $cloud;
        // font-weight: 400;
        // font-size: $p2-mobile-fontsize;
        // width: 87%;
        // margin-left: 0;
        // margin-right: 0;
        // margin-left: 23px;
        // margin-right: 23px;
        margin-bottom: 16px;
        border-radius: 20px;
    }
    &__button-container {
        height: 68px;
        // padding-top: 20px;
        // width: 100%;
        // margin-left: 23px;
        // margin-right: 23px; 
        // margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        background-color: $light-grey;
    }
    &__button-cancel {
        height: 36px;
        width: 41%;
        box-sizing: border-box;
        // margin: 0;
        margin-top: 16px;
        margin-left: 23px;
        border-radius: 20px;
        background: $white;
        border: 1px solid #BDC5D5;
        font-family: "Titillium Web";
        font-weight: 600;
    }
    &__button-save {
        height: 36px;
        width: 41%;
        box-sizing: border-box;
        // margin: 0;
        margin-top: 16px;
        margin-right: 23px;
        border-radius: 20px;
        background: $instock-indigo;
        border: none;
        font-family: "Titillium Web";
        color: $white;
        font-weight: 600;
        font-size: $h3-mobile-fontsize;
        // padding-top: 8px;
    }
    // &__footer {
        
    // }

}

::placeholder {
    padding-left: 16px;
    font-weight: 400;
    font-size: $p2-mobile-fontsize;
    color: $instock-black;
}