@import  '../../partials/global';

.edit-warehouse {
    width: 91%;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 10%;
    border: 2px solid black;
    // margin-right: 3%;
    // margin-left: 20%;

    &__header-container {
        display: flex;
        justify-content: left;
        padding-bottom: 20px;
        margin-top: 20px;
        border-bottom: 2px solid black;
    }
    &__back-img {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 10px;
    }
    &__title {
        margin: 0;
    }
    &__warehouse-title {
        margin-left: 23px;
    }
    &__warehouse-list {
        list-style: none;
        padding: 0;
    }
    &__warehouse-list-name {
        display: flex;
        flex-direction: column;
    }
    &__warehouse-list-name-label {
        margin-left: 23px;
        margin-bottom: 4px;
    }
    &__warehouse-list-name-input {
        height: 36px;
        width: 87%;
        box-sizing: border-box;
        margin-left: 23px;
        margin-right: 23px;
        margin-bottom: 16px;
        border-radius: 20px;
    }
    &__warehouse-list-street {
        display: flex;
        flex-direction: column;
    }
    &__warehouse-list-street-label {
        margin-left: 23px;
        margin-bottom: 4px;
    }
    &__warehouse-list-street-input {
        height: 36px;
        width: 87%;
        box-sizing: border-box;
        margin-left: 23px;
        margin-right: 23px;
        margin-bottom: 16px;
        border-radius: 20px;
    }
    &__warehouse-list-city {
        display: flex;
        flex-direction: column;
    }
    &__warehouse-list-city-label {
        margin-left: 23px;
        margin-bottom: 4px;
    }
    &__warehouse-list-city-input {
        height: 36px;
        width: 87%;
        box-sizing: border-box;
        margin-left: 23px;
        margin-right: 23px;
        margin-bottom: 16px;
        border-radius: 20px;
    }
    &__warehouse-list-country {
        display: flex;
        flex-direction: column;
    }
    &__warehouse-list-country-label {
        margin-left: 23px;
        margin-bottom: 4px;
    }
    &__warehouse-list-country-input {
        height: 36px;
        width: 87%;
        box-sizing: border-box;
        margin-left: 23px;
        margin-right: 23px;
        margin-bottom: 16px;
        border-radius: 20px;
    }
    &__contact-title {
        margin-left: 23px;
    }
    &__contact-list {
        list-style: none;
        padding: 0;
    }
    &__contact-list-name {
        display: flex;
        flex-direction: column;
    }
    &__contact-list-name-label {
        margin-left: 23px;
        margin-bottom: 4px;
    }
    &__contact-list-name-input {
        height: 36px;
        width: 87%;
        box-sizing: border-box;
        margin-left: 23px;
        margin-right: 23px;
        margin-bottom: 16px;
        border-radius: 20px;
    }
    &__contact-list-position {
        display: flex;
        flex-direction: column;
    }
    &__contact-list-position-label {
        margin-left: 23px;
        margin-bottom: 4px;
    }
    &__contact-list-position-input {
        height: 36px;
        width: 87%;
        box-sizing: border-box;
        margin-left: 23px;
        margin-right: 23px;
        margin-bottom: 16px;
        border-radius: 20px;
    }
    &__contact-list-phone{
        display: flex;
        flex-direction: column;
    }
    &__contact-list-phone-label {
        margin-left: 23px;
        margin-bottom: 4px;
    }
    &__contact-list-phone-input {
        height: 36px;
        width: 87%;
        box-sizing: border-box;
        margin-left: 23px;
        margin-right: 23px;
        margin-bottom: 16px;
        border-radius: 20px;
    }
    &__contact-list-email {
        display: flex;
        flex-direction: column;
    }
    &__contact-list-email-label {
        margin-left: 23px;
        margin-bottom: 4px;
    }
    &__contact-list-email-input {
        height: 36px;
        box-sizing: border-box; 
        width: 87%;
        margin-left: 23px;
        margin-right: 23px;
        margin-bottom: 16px;
        border-radius: 20px;
    }
    &__button-container {
        margin-left: 23px;
        margin-right: 23px; 
        display: flex;
        justify-content: space-between;
    }
    &__button-cancel {
        height: 36px;
        width: 46%;
        box-sizing: border-box;
        margin: 0;
        border-radius: 20px;
    }
    &__button-save {
        height: 36px;
        width: 46%;
        box-sizing: border-box;
        margin: 0;
        border-radius: 20px;
    }

}