@import "../../partials/global";
@import "../Header/Header.scss";




.delete{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    text-align: left;
    padding:4%;

    @include tablet{
        border:2px solid red;
        margin:auto;
        width:77%;
        padding:2% 2% 4% 8%;
        border-radius:4px;
        @include desktop{
            width:50%;
            padding: 1% 1% 2% 4%;
        }
    }
    &__close-icon{
        height:25px;
        margin-left:auto;
    }
    &__text-container{
        margin:0;
        margin-bottom:90vw;
        @include tablet{
            margin-bottom:0;
            width:90%;
        }
    }
    &__text-container-title{
        @include tablet{
            margin:0 0;
            font-size: $h1-desktab-fontsize;
            font-size: 1.9rem;
        }
    }
    &__text-container-subtitle{
        font-size: $p1-mobile-fontsize;
        @include tablet{
            width:91%;
            font-size: $p1-desktab-fontsize;
            font-size:.96rem;
            margin-bottom:10%;
        }
    }
    &__button-container{
        display:flex;
        flex-direction:row;
        justify-content: space-evenly;
        @include tablet{
            align-items:right;
            margin-left:auto;
            width:30%;
            justify-content: space-between;
            @include desktop{
                padding-right:6%;
            }
        }
            &-cancel{
                border: 1.5px solid $cloud;
                background-color:$white;
                color:$graphite;
                border-radius:20px;
                font-size:$p2-mobile-fontsize;
                min-width:45%;
                height:36px;
                padding:0;
                @include tablet{

                }
            }
            &-delete{
                border-style:none;
                border-radius:20px;
                color:$white;
                background-color: $red;
                font-size:$p2-mobile-fontsize;
                min-width:45%;
                height:36px;
                padding:0;
                @include tablet{

                }
            } 
}
}