@import 'variables';
@import 'mixins';

a {
    text-decoration: none;
    color: #2E66E5;
}

.warehouse-list {
    display: flex;
    margin-top: 17px;
    border-top: 1px solid #BDC5D5;
    flex-wrap: wrap;
    flex-direction: column;
    height: 250px;
    text-align: left;

    &-info {
        height: 100px;
        width: 50%;
        
        &-heading {
            margin: 0;
        }
    }
    &__city {
        vertical-align: top;
        
    }

}