@import '../../partials/global';

p {
    font-weight: 600;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #2E66E5;
}

.warehouse-list {
    margin-top: 17px;
    text-align: left;
    border-top: 1px solid $cloud;

    &__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 120px;
        margin: 15px 6.5%;
    }

    &-info {
        height: 57px;
        width: 120px;
        
        &-heading {
            margin: 3px auto;
        }
    }
    &__city-container {
        display: flex;
    }
    &__city {
        vertical-align: top;
    }
    &__icon-container {
        display: flex;
        justify-content: space-between;
        margin: 7px 6.5%;
        padding-bottom: 17px;
    }
}