@import "../../partials/global";

.warehouseInventoryLocation {
  position: absolute;
  z-index: 2;
  padding: 10px;
  width: 1020px;
  // margin: 24px;
  background: #ffffff;
  top: 140px;
  margin: 0 17px;
  @include tablet {
    margin: 0 4% 100px 4%;
    top: 95px;
  }
  @include desktop {
    margin: 0 10% 150px 10%;
  }
  &__img-name-container {
    display: flex;
    @include tablet {
      height: 30px;
    }
  }
  &__name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
  }
  &__name {
    margin-left: 10px;
    color: #13182c;
  }
  &__button {
    background: url("../../assets//icons/edit-24px.svg");
    color: #ffffff;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    background-color: #2e66e6;
    @include tablet {
      width: 81px;
      height: 38px;
      align-items: center;
    }
  }
  &__hr {
    background: #bdc5d5;
  }
  &__sub {
    @include tablet {
      display: flex;
    }
  }
  &__address-container {
    border-right: 0.5px solid #bdc5d5;
    @include tablet {
      padding-right: 90px;
      margin-right: 50px;
    }
  }
  &__left-container {
    display: flex;
    justify-content: flex-start;
  }
  &__contact-information-container {
    margin-left: 50px;
  }
  &__address {
    color: #13182c;
  }
  &__city {
    color: #13182c;
  }
  &__contact-name {
    color: #13182c;
  }
  &__contact-position {
    color: #13182c;
  }
  &__contact-information-phone {
    color: #13182c;
  }
  &__contact-information-email {
    color: #13182c;
  }
}
