// Imported Fonts

@font-face {
    font-family: 'Titillium Web', sans-serif;
    src: url('../assets/globalfonts/TitilliumWeb-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Titillium Web', sans-serif;
    src: url('../assets/globalfont/TitilliumWeb-SemiBold.ttf') format("truetype");
    font-weight: 600;
}