// Imported Fonts

@font-face {
  font-family: "Titillium Web";
  src: url("../assets/globalfonts/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Titillium Web";
  src: url("../assets/globalfonts/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
