$h1-desktab-fontsize: 2.2rem;
$h2-desktab-fontsize: 1.5rem;
$h3-desktab-fontsize: 0.875rem;
$h4-desktab-fontsize: 0.75rem;
$p1-desktab-fontsize: 1rem;
$p2-desktab-fontsize: 0.875rem;
$p3-desktab-fontsize: 0.75rem;

$h1-mobile-fontsize: 1.75rem;
$h2-mobile-fontsize: 1.25rem;
$h3-mobile-fontsize: 0.81rem;
$h4-mobile-fontsize: 0.67rem;
$p1-mobile-fontsize: 0.94rem;
$p2-mobile-fontsize: 0.81rem;
$p3-mobile-fontsize: 0.67rem;